<!DOCTYPE html>
<html lang = "pt">
<head>
    <!-- Global site tag (gtag.js) - Google Analytics -->
    <script async src = "https://www.googletagmanager.com/gtag/js?id=UA-127796749-1"></script>
    <script>
        window.dataLayer = window.dataLayer || [];

        function gtag()
        {
            dataLayer.push(arguments);
        }

        gtag('js', new Date());

        gtag('config', 'UA-127796749-1');
        gtag('config', 'AW-787211655');
    </script>

    <!-- Event snippet for Send email conversion page -->
    <script>
        gtag('event', 'conversion', {'send_to': 'AW-787211655/8obwCPm50IsBEIfLr_cC'});
    </script>

    <meta charset = "UTF-8">
    <meta name = "viewport" content = "width = device-width , initial-scale = 1">

    <link rel = "canonical" href = "https://hudsonlessa.com/email-success">
    <link rel = "alternate" href = "https://hudsonlessa.com/email-success" hreflang = "pt-BR">
    <link rel = "alternate" href = "https://hudsonlessa.com/en/email-success" hreflang = "en-US">
    <link rel = "icon" href = "images/favicon.png" type = "image/png">
    <link rel = "stylesheet" href = "stylesheets/css/style.css">

    <title>Hudson Lessa - Designer e Programador</title>

    <style>
        body
        {
            min-height: 100vh;
            background-color: #000;
        }

        div
        {
            color: #CCC;
            text-align: center;
            position: absolute;
            top: 50%;
            left: 0;
            right: 0;
            transform: translateY(-50%);
            margin: 0 auto;
        }

        p
        {
            margin-bottom: 50px;
        }

        button
        {
            width: 245px;
            background-color: #FFF;
        }
    </style>
</head>

<body>
    <div>
        <p>Email enviado com sucesso!</p>
        <form action = "/" method = "get"><button>VOLTAR</button></form>
    </div>
</body>
</html>
