<!DOCTYPE html>
<html lang = "en">
<head>
    <!-- Global site tag (gtag.js) - Google Analytics -->
    <script async src = "https://www.googletagmanager.com/gtag/js?id=UA-127796749-1"></script>
    <script>
        window.dataLayer = window.dataLayer || [];

        function gtag()
        {
            dataLayer.push(arguments);
        }

        gtag('js', new Date());

        gtag('config', 'UA-127796749-1');
        gtag('config', 'AW-787211655');
    </script>

    <meta charset = "UTF-8">
    <meta name = "viewport" content = "width = device-width , initial-scale = 1">

    <link rel = "canonical" href = "https://hudsonlessa.com">
    <link rel = "alternate" href = "https://hudsonlessa.com" hreflang = "pt-BR">
    <link rel = "alternate" href = "https://hudsonlessa.com/en" hreflang = "en-US">
    <link rel = "icon" href = "images/favicon.png" type = "image/png">
    <link rel = "stylesheet" href = "stylesheets/css/style.css">

    <title>Hudson Lessa - Designer and Programmer</title>
</head>

<body>
    <header>
        <nav>
            <div id = "collapsible-menu-button"></div>
            <ul>
                <li><a href = "#start">Start</a></li>
                <li><a href = "#about">About</a></li>
                <li><a href = "#services">Services</a></li>
                <li><a href = "#portfolio">Portfolio</a></li>
                <li><a href = "#contact">Contact</a></li>
            </ul>

            <ul id = "language-selector">
                <li><a href = "/"></a></li>
                <li><a></a></li>
            </ul>
        </nav>
    </header>

    <main>
        <section id = "start">
            <div>
                <h1>Hudson<span>Lessa<span></h1>
                <p>Designer and Programmer</p>
            </div>
            <a href = "#about"></a>
        </section>

        <section id = "about">
            <div class = "container">
                <div id = "picture-container">
                    <div id = "picture-background"></div>
                    <div id = "picture"></div>
                </div>

                <div id = "about-wrapper">
                    <p>
                        Professional problem solver currently living in Rio de Janeiro, Brazil.
                        With more than three years of experience, I work on user experience design,
                        user interface design, front-end programming and back-end programming. I
                        mesh the best of design with the best of programming to develop exclusive
                        and fully customized works. I also work remotely!
                    </p>

                    <p class = "text-dark">
                        Tools that I use: Pen and paper, Photoshop, Illustrator, XD
                    </p>

                    <p class = "text-dark">
                        Languages I speak: HTML, CSS, JavaScript
                    </p>

                    <p class = "text-dark">
                        Favorite platforms and frameworks: Node.js, React, React Native
                    </p>
                </div>
            </div>
        </section>

        <div id = "services-portfolio-container">
            <section id = "services">
                <div class = "container">
                    <div class = "section-title-container section-title-container-en">
                        <div class = "section-title-background section-title-background-en"></div>
                        <h1 class = "section-title">What do you need?</h1>
                    </div>

                    <ul>
                        <li class = "service">
                            <div class = "icon-service"></div>
                            <h1>Responsive Website</h1>
                            <p>
                                From landing pages to whole websites,
                                I create the custom visual that fits perfectly
                                on what you need and ready to be deployed to
                                the web.
                            </p>
                        </li>

                        <li class = "service">
                            <div class = "icon-service"></div>
                            <h1>Web Application</h1>
                            <p>
                                I automate manual tasks and speed up
                                common work processes on your business
                                through programming.
                            </p>
                        </li>

                        <li class = "service">
                            <div class = "icon-service"></div>
                            <h1>Mobile Application</h1>
                            <p>
                                I project and develop the modern and usability
                                centered application you and/or your clients
                                need, whether for online or offline usage.
                            </p>
                        </li>
                    </ul>
                </div>
            </section>

            <section id = "portfolio">
                <div class = "container">
                    <div class = "section-title-container section-title-container-en">
                        <div class = "section-title-background section-title-background-en"></div>
                        <h1 class = "section-title">Notable projects</h1>
                    </div>

                    <ul id = "projects">
                        <li class = "project" onclick = "void(0)">
                            <div class = "wrapper">
                                <h1>E-STOP</h1>
                                <p>parking management system</p>
                                <p>Java, MySQL</p>
                            </div>
                        </li>

                        <li class = "project" onclick = "void(0)">
                            <div class = "wrapper">
                                <h1>SONAR</h1>
                                <p>mobile file searcher application through QR code with Augmented Reality</p>
                                <p>Unity, Vuforia</p>
                            </div>
                        </li>

                        <li class = "project" onclick = "void(0)">
                            <div class = "wrapper">
                                <h1>AcampeBem</h1>
                                <p>camping comparison website</p>
                                <p>HTML, CSS, Bootstrap, JavaScript, Node.js, Express, MongoDB</p>
                            </div>
                        </li>

                        <li class = "project" onclick = "void(0)">
                            <div class = "wrapper">
                                <h1>Portal Cultura</h1>
                                <p>Secretaria de Estado de Cultura e Economia Criativa do Rio de Janeiro official website</p>
                                <p>HTML, CSS, JavaScript, PHP, WordPress, MySQL</p>
                            </div>
                        </li>
                    </ul>
                </div>
            </section>

            <section id = "testimonials">
                <div class = "container">
                    <div class = "section-title"></div>
                    <div class = "testimonial">
                        <a class = "corp-logo" href = "https://tripzorro.com"></a>
                        <p>
                            He's the best programmer I've ever had! Really talented, always delivers a fast and excelent work!<br>
                            <span>- Bradd, <a href = "https://tripzorro.com">TripZorro.com</a><span>
                        </p>
                    </div>

                    <div class = "testimonial">
                        <a class = "corp-logo" href = "https://yurigames.com.br"></a>
                        <p>
                            He knows really well how to mesh simplicity with objectivity, presenting a work with mastery and professionalism.<br>
                            <span>- Yuri, <a href = "https://yurigames.com.br">YuriGames.com.br</a><span>
                        </p>
                    </div>
                </div>
            </section>
        </div>

        <section id = "contact">
            <div class = "container">
                <div class = "section-title-container">
                    <div class = "section-title-background"></div>
                    <h1 class = "section-title">Contact</h1>
                </div>

                <form action = "/email" method = "post">
                    <input required type = "text" name = "name" placeholder = "Name">
                    <input required type = "email" name = "emailAddress" placeholder = "Email address">
                    <input required type = "text" name = "subject" placeholder = "Subject">
                    <textarea required name = "message" placeholder = "Message"></textarea>
                    <button>Send</button>
                </form>
            </div>
        </section>
    </main>

    <footer>
        <nav id = "collapsible-menu">
            <ul>
                <li><a href = "#start">Start</a></li>
                <li><a href = "#about">About</a></li>
                <li><a href = "#services">Services</a></li>
                <li><a href = "#portfolio">Portfolio</a></li>
                <li><a href = "#contact">Contact</a></li>
            </ul>
        </nav>

        <div>
            <a class = "icon-social" href = "https://instagram.com/hudsonl13" target = "_blank">Instagram</a>
            <a class = "icon-social" href = "https://github.com/hudsonl13" target = "_blank">GitHub</a>
            <a class = "icon-social" href = "https://linkedin.com/in/hudsonl13/en" target = "_blank">LinkedIn</a>
        </div>

        <a href = "https://privacypolicies.com/privacy/view/420a694614883f5c2b436ca6ccf4007d">Privacy Policy</a>
    </footer>

    <script src = "scripts/script.js"></script>
</body>
</html>
