<!DOCTYPE html>
<html lang = "pt">
<head>
    <meta charset = "UTF-8">
    <meta name = "viewport" content = "width = device-width , initial-scale = 1">

    <link rel = "canonical" href = "https://hudsonlessa.com">
    <link rel = "alternate" href = "https://hudsonlessa.com" hreflang = "pt-BR">
    <link rel = "icon" href = "images/favicon.png" type = "image/png">
    <link rel = "stylesheet" href = "stylesheets/css/style.css">

    <title>Hudson Lessa - Designer e Programador</title>
</head>

<body>
    <header>
        <nav>
            <div></div>
            <ul>
                <li><a href = #>Início</a>
                <li><a href = #>Sobre</a>
                <li><a href = #>Serviços</a>
                <li><a href = #>Portfolio</a>
                <li><a href = #>Contato</a>
            </ul>
        </nav>
    </header>

    <main>
        <section>
            <h1>Hudson Lessa</h1>
            <p>Designer e Programador</p>
        </section>
        
        <section>
            <p>
                Com mais de dois anos de experiência, atuo nas áreas de design de
                experiência do usuário, design de interface, programação front-end e
                programação back-end. Combino o melhor do design com o melhor da
                programação para desenvolver trabalhos exclusivos e personalizados.
            </p>

            <p>
                Ferramentas que eu uso: Papel e caneta, Photoshop, Illustrator
            </p>

            <p>
                Linguagens que eu falo: HTML, CSS, JavaScript
            </p>

            <p>
                Plataformas e frameworks preferidos: Node.JS, React, React Native
            </p>
        </section>

        <div>
            <section>
                <h1>Do que você precisa?</h1>
                <ul>
                    <li>
                        <h1>Website Responsivo</h1>
                        <p>
                            De landing pages a websites completos,
                            crio o visual personalizado que se
                            encaixa no que você precisa e pronto para
                            ser publicado na rede.
                        </p>
                    </li>
                    <li>
                        <h1>Aplicativo Móvel</h1>
                        <p>
                            Projeto e desenvolvo o aplicativo moderno
                            e totalmente centrado na usabilidade que
                            você e/ou seus clientes necessitam, seja
                            para uso online ou offline.
                        </p>
                    </li>
                    <li>
                        <h1>Programa Desktop</h1>
                        <p>
                            Automatizo tarefas manuais e agilizo
                            processos de trabalho comuns do seu
                            negócio através da programação para
                            computadores de mesa.
                        </p>
                    </li>
                </ul>
            </section>

            <section>
                <h1>Trabalhos anteriores</h1>
                <ul>
                    <li>
                        <h1>E-STOP</h1>
                        <p>Sistema de Gerenciamento de Estacionamento</p>
                        <p>Java, MySQL</p>
                    </li>

                    <li>
                        <h1>SONAR</h1>
                        <p>Buscador de Arquivos Por Código QR e Realidade Aumentada</p>
                        <p>C#</p>
                    </li>

                    <li>
                        <h1>AcampeBem</h1>
                        <p>Website Comparador de Acampamentos</p>
                        <p>HTML, CSS, JavaScript, Node.JS, MongoDB</p>
                    </li>
                </ul>
            </section>
        </div>

        <section>
            <h1>Contato</h1>

            <form>
                <input type = "text" placeholder = "Nome">
                <input type = "text" placeholder = "Endereço de email">
                <input type = "text" placeholder = "Assunto">
                <input type = "text" placeholder = "Mensagem">
                <button>ENVIAR</button>
            </form>
        </section>
    </main>

    <footer>
        <a href = "http://instagram.com/hudsonl13">Instagram</a>
        <a href = "http://github.com/hudsonl13">GitHub</a>
        <a href = "#">Política de Privacidade (em inglês)</a>
    </footer>
</body>
</html>
