<!DOCTYPE html>
<html lang = "pt">
<head>
    <!-- Global site tag (gtag.js) - Google Analytics -->
    <script async src = "https://www.googletagmanager.com/gtag/js?id=UA-127796749-1"></script>
    <script>
        window.dataLayer = window.dataLayer || [];

        function gtag()
        {
            dataLayer.push(arguments);
        }

        gtag('js', new Date());

        gtag('config', 'UA-127796749-1');
    </script>

    <meta charset = "UTF-8">
    <meta name = "viewport" content = "width = device-width , initial-scale = 1">

    <link rel = "canonical" href = "https://hudsonlessa.com">
    <link rel = "alternate" href = "https://hudsonlessa.com" hreflang = "pt-BR">
    <link rel = "icon" href = "images/favicon.png" type = "image/png">
    <link rel = "stylesheet" href = "stylesheets/css/style.css">

    <title>Hudson Lessa - Designer e Programador</title>
</head>

<body>
    <header>
        <nav>
            <div></div>
            <ul>
                <li><a href = "#hero">Início</a>
                <li><a href = "#about">Sobre</a>
                <li><a href = "#services">Serviços</a>
                <li><a href = "#portfolio">Portfolio</a>
                <li><a href = "#contact">Contato</a>
            </ul>
        </nav>
    </header>

    <main>
        <section id = "hero">
            <div>
                <h1>Hudson<span>Lessa<span></h1>
                <p>Designer e Programador</p>
            <div>
        </section>

        <section id = "about">
            <div class = "container">
                <div id = "picture-container">
                    <div id = "picture-background"></div>
                    <div id = "picture"></div>
                </div>

                <div id = "about-wrapper">
                    <p>
                        Com mais de dois anos de experiência, atuo nas áreas de design de
                        experiência do usuário, design de interface, programação front-end e
                        programação back-end. Combino o melhor do design com o melhor da
                        programação para desenvolver trabalhos exclusivos e personalizados.
                    </p>

                    <p class = "text-dark">
                        Ferramentas que eu uso: Papel e caneta, Photoshop, Illustrator
                    </p>

                    <p class = "text-dark">
                        Linguagens que eu falo: HTML, CSS, JavaScript
                    </p>

                    <p class = "text-dark">
                        Plataformas e frameworks preferidos: Node.JS, React, React Native
                    </p>
                </div>
            </div>
        </section>

        <div id = "services-portfolio-container">
            <section id = "services">
                <div class = "container">
                    <div class = "section-title-container">
                        <div class = "section-title-background"></div>
                        <h1 class = "section-title">Do que você precisa?</h1>
                    </div>

                    <ul>
                        <li class = "service">
                            <div class = "icon-service"></div>
                            <h1>Website Responsivo</h1>
                            <p>
                                De landing pages a websites completos,
                                crio o visual personalizado que se
                                encaixa no que você necessita e pronto para
                                ser publicado na rede.
                            </p>
                        </li>

                        <li class = "service">
                            <div class = "icon-service"></div>
                            <h1>Aplicativo Móvel</h1>
                            <p>
                                Projeto e desenvolvo o aplicativo moderno
                                e totalmente centrado na usabilidade que
                                você e/ou seus clientes desejam, seja
                                para uso online ou offline.
                            </p>
                        </li>

                        <li class = "service">
                            <div class = "icon-service"></div>
                            <h1>Programa Desktop</h1>
                            <p>
                                Automatizo tarefas manuais e agilizo
                                processos de trabalho comuns do seu
                                negócio através da programação para
                                computadores de mesa.
                            </p>
                        </li>
                    </ul>
                </div>
            </section>

            <section id = "portfolio">
                <div class = "container">
                    <div class = "section-title-container">
                        <div class = "section-title-background"></div>
                        <h1 class = "section-title">Trabalhos anteriores</h1>
                    </div>

                    <ul id = "projects">
                        <li class = "project" onclick = "void(0)">
                            <div class = "wrapper">
                                <h1>E-STOP</h1>
                                <p>Sistema de Gerenciamento de Estacionamento</p>
                                <p>Java, MySQL</p>
                            </div>
                        </li>

                        <li class = "project" onclick = "void(0)">
                            <div class = "wrapper">
                                <h1>SONAR</h1>
                                <p>Buscador de Arquivos Por Código QR e Realidade Aumentada</p>
                                <p>C#</p>
                            </div>
                        </li>

                        <li class = "project" onclick = "void(0)">
                            <div class = "wrapper">
                                <h1>AcampeBem</h1>
                                <p>Website Comparador de Acampamentos</p>
                                <p>HTML, CSS, JavaScript, Node.JS, MongoDB</p>
                            </div>
                        </li>
                    </ul>
                </div>
            </section>
        </div>

        <section id = "contact">
            <div class = "container">
                <div class = "section-title-container">
                    <div class = "section-title-background"></div>
                    <h1 class = "section-title">Contato</h1>
                </div>

                <form action = "/email" method = "post">
                    <input required type = "text" name = "name" placeholder = "Nome">
                    <input required type = "text" name = "emailAddress" placeholder = "Endereço de email">
                    <input required type = "text" name = "subject" placeholder = "Assunto">
                    <textarea required name = "message" placeholder = "Mensagem"></textarea>
                    <button>ENVIAR</button>
                </form>
            </div>
        </section>
    </main>

    <footer>
        <div>
            <a class = "icon-social" href = "http://instagram.com/hudsonl13">Instagram</a>
            <a class = "icon-social" href = "http://github.com/hudsonl13">GitHub</a>
        </div>

        <a href = "https://privacypolicies.com/privacy/view/420a694614883f5c2b436ca6ccf4007d">Política de Privacidade (em inglês)</a>
    </footer>
</body>
</html>
