<!DOCTYPE html>
<html lang = "pt">
<head>
    <!-- Global site tag (gtag.js) - Google Analytics -->
    <script async src = "https://www.googletagmanager.com/gtag/js?id=UA-127796749-1"></script>
    <script>
        window.dataLayer = window.dataLayer || [];

        function gtag()
        {
            dataLayer.push(arguments);
        }

        gtag('js', new Date());

        gtag('config', 'UA-127796749-1');
        gtag('config', 'AW-787211655');
    </script>

    <meta charset = "UTF-8">
    <meta name = "viewport" content = "width = device-width , initial-scale = 1">

    <link rel = "canonical" href = "https://hudsonlessa.com">
    <link rel = "alternate" href = "https://hudsonlessa.com" hreflang = "pt-BR">
    <link rel = "alternate" href = "https://hudsonlessa.com/en" hreflang = "en-US">
    <link rel = "icon" href = "images/favicon.png" type = "image/png">
    <link rel = "stylesheet" href = "stylesheets/css/style.css">

    <title>Hudson Lessa - Designer e Programador</title>
</head>

<body>
    <header>
        <nav>
            <div id = "collapsible-menu-button"></div>
            <ul>
                <li><a href = "#inicio">Início</a></li>
                <li><a href = "#sobre">Sobre</a></li>
                <li><a href = "#servicos">Serviços</a></li>
                <li><a href = "#portfolio">Portfolio</a></li>
                <li><a href = "#contato">Contato</a></li>
            </ul>

            <ul id = "language-selector">
                <li><a></a></li>
                <li><a href = "/en"></a></li>
            </ul>
        </nav>
    </header>

    <main>
        <section id = "inicio">
            <div>
                <h1>Hudson<span class = "space"> </span><span>Lessa<span></h1>
                <p>Designer e Programador</p>
            </div>
            <a href = "#sobre"></a>
        </section>

        <section id = "sobre">
            <div class = "container">
                <div id = "picture-container">
                    <div id = "picture-background"></div>
                    <div id = "picture"></div>
                </div>

                <div id = "about-wrapper">
                    <p>
                        Solucionador de problemas profissional morador do Rio de Janeiro, Brasil.
                        Com mais de três anos de experiência, atuo nas áreas de design de
                        experiência do usuário, design de interface, programação front-end e
                        programação back-end. Combino o melhor do design com o melhor da
                        programação para desenvolver trabalhos exclusivos e completamente
                        personalizados. Atendo também remotamente!
                    </p>

                    <p class = "text-dark">
                        Ferramentas que eu uso: Papel e caneta, Photoshop, Illustrator, XD
                    </p>

                    <p class = "text-dark">
                        Linguagens que eu falo: HTML, CSS, JavaScript
                    </p>

                    <p class = "text-dark">
                        Plataformas e frameworks preferidos: Node.js, React, React Native
                    </p>
                </div>
            </div>
        </section>

        <div id = "services-portfolio-container">
            <section id = "servicos">
                <div class = "container">
                    <div class = "section-title-container">
                        <div class = "section-title-background"></div>
                        <h1 class = "section-title">Do que você precisa?</h1>
                    </div>

                    <ul>
                        <li class = "service">
                            <div class = "icon-service"></div>
                            <h1>Website Responsivo</h1>
                            <p>
                                De landing pages a websites completos,
                                crio o visual personalizado que se
                                encaixa no que você necessita e pronto para
                                ser publicado na rede.
                            </p>
                        </li>

                        <li class = "service">
                            <div class = "icon-service"></div>
                            <h1>Aplicação Web</h1>
                            <p>
                                Automatizo tarefas manuais e agilizo
                                processos de trabalho comuns do seu
                                negócio através da programação.
                            </p>
                        </li>

                        <li class = "service">
                            <div class = "icon-service"></div>
                            <h1>Aplicativo Móvel</h1>
                            <p>
                                Projeto e desenvolvo o aplicativo moderno
                                e centrado na usabilidade que
                                você e/ou seus clientes precisam, seja
                                para uso online ou offline.
                            </p>
                        </li>
                    </ul>
                </div>
            </section>

            <section id = "portfolio">
                <div class = "container">
                    <div class = "section-title-container">
                        <div class = "section-title-background"></div>
                        <h1 class = "section-title">Projetos notáveis</h1>
                    </div>

                    <ul id = "projects">
                        <li class = "project" onclick = "void(0)">
                            <div class = "wrapper">
                                <h1>E-STOP</h1>
                                <p>sistema de gerenciamento de estacionamento</p>
                                <p>Java, MySQL</p>
                            </div>
                        </li>

                        <li class = "project" onclick = "void(0)">
                            <div class = "wrapper">
                                <h1>SONAR</h1>
                                <p>aplicativo móvel buscador de arquivos por código QR com Realidade Aumentada</p>
                                <p>Unity, Vuforia</p>
                            </div>
                        </li>

                        <li class = "project" onclick = "void(0)">
                            <div class = "wrapper">
                                <h1>AcampeBem</h1>
                                <p>website comparador de acampamentos</p>
                                <p>HTML, CSS, Bootstrap, JavaScript, Node.js, Express, MongoDB</p>
                            </div>
                        </li>

                        <li class = "project" onclick = "void(0)">
                            <div class = "wrapper">
                                <h1>Portal Cultura</h1>
                                <p>website oficial da Secretaria de Estado de Cultura e Economia Criativa do Rio de Janeiro</p>
                                <p>HTML, CSS, JavaScript, PHP, WordPress, MySQL</p>
                            </div>
                        </li>
                    </ul>
                </div>
            </section>

            <section id = "testimonials">
                <div class = "container">
                    <div class = "section-title"></div>
                    <div class = "testimonial">
                        <a class = "corp-logo" href = "https://tripzorro.com"></a>
                        <p>
                            Melhor programador que eu já tive! Bastante talentoso, sempre entrega um rápido e excelente trabalho!<br>
                            <span>- Bradd, <a href = "https://tripzorro.com">TripZorro.com</a><span>
                        </p>
                    </div>

                    <div class = "testimonial">
                        <a class = "corp-logo" href = "https://yurigames.com.br"></a>
                        <p>
                            Sabe mesclar muito bem a simplicidade e a objetividade, apresentando um trabalho com maestria e profissionalismo.<br>
                            <span>- Yuri, <a href = "https://yurigames.com.br">YuriGames.com.br</a><span>
                        </p>
                    </div>
                </div>
            </section>
        </div>

        <section id = "contato">
            <div class = "container">
                <div class = "section-title-container">
                    <div class = "section-title-background"></div>
                    <h1 class = "section-title">Contato</h1>
                </div>

                <form action = "/email" method = "post">
                    <input required type = "text" name = "name" placeholder = "Nome">
                    <input required type = "email" name = "emailAddress" placeholder = "Endereço de email">
                    <input required type = "text" name = "subject" placeholder = "Assunto">
                    <textarea required name = "message" placeholder = "Mensagem"></textarea>
                    <button>Enviar</button>
                </form>
            </div>
        </section>
    </main>

    <footer>
        <nav id = "collapsible-menu">
            <ul>
                <li><a href = "#inicio">Início</a></li>
                <li><a href = "#sobre">Sobre</a></li>
                <li><a href = "#servicos">Serviços</a></li>
                <li><a href = "#portfolio">Portfolio</a></li>
                <li><a href = "#contato">Contato</a></li>
            </ul>
        </nav>

        <div>
            <a class = "icon-social" href = "https://instagram.com/hudsonl13" target = "_blank">Instagram</a>
            <a class = "icon-social" href = "https://github.com/hudsonl13" target = "_blank">GitHub</a>
            <a class = "icon-social" href = "https://linkedin.com/in/hudsonl13" target = "_blank">LinkedIn</a>
        </div>

        <a href = "https://privacypolicies.com/privacy/view/420a694614883f5c2b436ca6ccf4007d">Política de Privacidade (em inglês)</a>
    </footer>

    <script src = "scripts/script.js"></script>
</body>
</html>
