@import url("https://fonts.googleapis.com/css?family=Josefin+Sans:100,700|Montserrat:400,700|Roboto:100,300,400,700");
* {
  box-sizing: border-box;
  padding: 0;
  border: 0;
  margin: 0;
}

body {
  font-family: "Roboto";
  font-size: 16px;
}

a {
  color: #CCC;
  text-decoration: none;
}

a:visited {
  color: #CCC;
}

.container {
  padding: 100px 20px;
  margin: 0 auto;
}
@media only screen and (min-width: 1200px) {
  .container {
    padding: 100px 0;
  }
}

header {
  position: fixed;
  z-index: 1;
  width: 100%;
  background-color: #000;
}
header nav {
  display: flex;
  max-width: 1180px;
  height: 50px;
  line-height: 50px;
  margin: 0 auto;
}
@media only screen and (min-width: 768px) {
  header nav {
    justify-content: center;
  }
}
@media only screen and (min-width: 1200px) {
  header nav {
    justify-content: right;
  }
}
header nav div {
  width: 20px;
  height: 15px;
  margin: auto 20px;
  background-image: url("/images/hamburger.svg");
}
@media only screen and (min-width: 768px) {
  header nav div {
    width: 32px;
    height: 32px;
    margin: auto 20px auto 0;
    background-image: url("/images/logo.png");
  }
}
header nav ul {
  display: none;
  list-style-type: none;
}
@media only screen and (min-width: 768px) {
  header nav ul {
    display: flex;
  }
}
header nav ul li {
  margin: 0 20px;
  font-family: "Montserrat";
  text-transform: uppercase;
}

#hero {
  height: 700px;
  background: url("/images/mountains_lowpoly.png") no-repeat center bottom, url("/images/binarycode_black.svg") center top, linear-gradient(#000, #001423);
  background-size: auto, 1000px, cover;
}
@media only screen and (min-width: 768px) {
  #hero {
    height: 1000px;
  }
}
@media only screen and (min-width: 1200px) {
  #hero {
    height: 900px;
  }
}
#hero div {
  padding-top: 180px;
  text-align: center;
  color: #CCC;
}
@media only screen and (min-width: 768px) {
  #hero div {
    padding-top: 300px;
  }
}
@media only screen and (min-width: 1200px) {
  #hero div {
    padding-top: 250px;
  }
}
#hero div h1 {
  padding-left: 10px;
  font-family: "Josefin Sans";
  font-size: 24px;
  font-weight: 700;
  letter-spacing: 9.6px;
  text-transform: uppercase;
}
@media only screen and (min-width: 768px) {
  #hero div h1 {
    font-size: 48px;
    letter-spacing: 19.2px;
  }
}
#hero div h1 span {
  font-weight: 100;
}
#hero div p {
  font-weight: 100;
  text-transform: lowercase;
}
@media only screen and (min-width: 768px) {
  #hero div p {
    font-size: 28px;
  }
}

#about {
  background-color: #000;
  font-weight: 300;
  color: #CCC;
}
#about .container {
  margin: 0 auto;
}
@media only screen and (min-width: 1200px) {
  #about .container {
    display: flex;
    max-width: 1180px;
  }
}
#about .container #picture-container {
  position: relative;
  width: 280px;
  height: 485px;
  margin: 0 auto 50px;
}
@media only screen and (min-width: 1200px) {
  #about .container #picture-container {
    margin: 0 0;
  }
}
#about .container #picture-container #picture-background {
  position: absolute;
  top: 135px;
  left: 110px;
  width: 170px;
  height: 350px;
  background-color: #CCC;
}
#about .container #picture-container #picture {
  position: absolute;
  width: 260px;
  height: 430px;
  background: url("/images/hudsonlessa_lowpoly.png") no-repeat;
  background-size: contain;
}
#about .container #about-wrapper {
  max-width: 500px;
  margin: 0 auto;
}
@media only screen and (min-width: 1200px) {
  #about .container #about-wrapper {
    max-width: 880px;
    margin: 0 0;
    margin-top: 132px;
    margin-left: 20px;
  }
}
#about .container #about-wrapper p {
  margin-bottom: 20px;
  line-height: 24px;
}
#about .container #about-wrapper p:first-of-type {
  margin-bottom: 50px;
}
#about .container #about-wrapper p:last-of-type {
  margin-bottom: 0;
}

#services-portfolio-container {
  background: url("/images/binarycode_white.svg") center top, linear-gradient(#CCC, #FFF);
  background-size: 1000px, cover;
}

#services {
  color: #001423;
}
#services .container {
  margin: 0 auto;
}
@media only screen and (min-width: 1200px) {
  #services .container {
    max-width: 1180px;
  }
}
#services .container .section-title-container {
  width: 275px;
}
@media only screen and (min-width: 768px) {
  #services .container .section-title-container {
    width: 555px;
  }
}
#services .container .section-title-container .section-title-background {
  left: 10px;
  width: 265px;
  background-color: #FFF;
}
@media only screen and (min-width: 768px) {
  #services .container .section-title-container .section-title-background {
    left: 20px;
    width: 535px;
  }
}
#services .container ul {
  list-style-type: none;
}
@media only screen and (min-width: 1200px) {
  #services .container ul {
    display: grid;
    grid-template-columns: 33.33% 33.33% 33.33%;
  }
}
#services .container ul .service {
  margin-bottom: 100px;
  text-align: center;
}
#services .container ul .service:last-of-type {
  margin-bottom: 0;
}
#services .container ul .service:nth-of-type(1) .icon-service {
  background: url("/images/icon_webpage.svg") no-repeat;
}
#services .container ul .service:nth-of-type(2) .icon-service {
  background: url("/images/icon_smartphone.svg") no-repeat;
}
#services .container ul .service:nth-of-type(3) .icon-service {
  background: url("/images/icon_monitor.svg") no-repeat;
}
#services .container ul .service h1 {
  margin-bottom: 20px;
  font-size: 24px;
  font-weight: 400;
}
#services .container ul .service p {
  max-width: 500px;
  margin: 0 auto;
  line-height: 24px;
}
@media only screen and (min-width: 1200px) {
  #services .container ul .service p {
    padding: 0 20px;
  }
}

#portfolio {
  color: #001423;
}
@media only screen and (min-width: 1200px) {
  #portfolio .container {
    max-width: 1180px;
  }
}
#portfolio .container .section-title-container {
  width: 270px;
}
@media only screen and (min-width: 768px) {
  #portfolio .container .section-title-container {
    width: 540px;
  }
}
@media only screen and (min-width: 1200px) {
  #portfolio .container .section-title-container {
    left: 640px;
  }
}
#portfolio .container .section-title-container .section-title-background {
  width: 260px;
  background-color: #CCC;
}
@media only screen and (min-width: 768px) {
  #portfolio .container .section-title-container .section-title-background {
    width: 520px;
  }
}
#portfolio .container .section-title-container .section-title {
  left: 10px;
}
@media only screen and (min-width: 768px) {
  #portfolio .container .section-title-container .section-title {
    left: 20px;
  }
}
#portfolio .container #projects {
  display: grid;
  grid-auto-rows: 200px;
  grid-template-columns: repeat(auto-fit, minmax(100%, 1fr));
  list-style-type: none;
}
@media only screen and (min-width: 768px) {
  #portfolio .container #projects {
    grid-auto-rows: 250px;
    grid-template-columns: repeat(auto-fit, minmax(50%, 1fr));
  }
}
@media only screen and (min-width: 1200px) {
  #portfolio .container #projects {
    grid-auto-rows: 200px;
    grid-template-columns: repeat(auto-fit, minmax(33.33%, 1fr));
  }
}
#portfolio .container #projects .project {
  position: relative;
  border: 1px solid #001423;
  background-color: #CCC;
  text-align: center;
}
#portfolio .container #projects .project:nth-of-type(1)::after {
  background: url("/images/project_e-stop.jpg") no-repeat;
  background-size: cover;
}
#portfolio .container #projects .project:nth-of-type(2)::after {
  background: url("/images/project_sonar.jpg") no-repeat;
  background-size: cover;
}
#portfolio .container #projects .project:nth-of-type(3)::after {
  background: url("/images/project_acampebem.jpg") no-repeat;
  background-size: cover;
}
#portfolio .container #projects .project::after {
  content: "";
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  opacity: 1;
}
#portfolio .container #projects .project:hover::after {
  opacity: 0.1;
}
#portfolio .container #projects .project .wrapper {
  padding: 30px;
}
#portfolio .container #projects .project .wrapper h1 {
  font-size: 18px;
}
#portfolio .container #projects .project .wrapper p:last-of-type {
  margin-top: 20px;
  font-weight: 700;
}

.section-title-container {
  position: relative;
  height: 40px;
  margin: 0 auto 50px;
}
@media only screen and (min-width: 768px) {
  .section-title-container {
    height: 80px;
  }
}
@media only screen and (min-width: 1200px) {
  .section-title-container {
    margin: 0 0 100px 0;
  }
}

.section-title-background {
  position: absolute;
  top: 15px;
  height: 25px;
}
@media only screen and (min-width: 768px) {
  .section-title-background {
    top: 30px;
    height: 50px;
  }
}

.section-title {
  position: absolute;
  font-family: "Montserrat";
  font-size: 24px;
  font-weight: 700;
}
@media only screen and (min-width: 768px) {
  .section-title {
    font-size: 48px;
  }
}

.icon-service {
  width: 96px;
  height: 96px;
  margin: 0 auto 20px;
}

#contact {
  background: url("/images/binarycode_black.svg") center top, linear-gradient(#000, #001423);
  background-size: 1000px, cover;
  color: #CCC;
}
@media only screen and (min-width: 1200px) {
  #contact .container {
    max-width: 1180px;
  }
}
#contact .container .section-title-container {
  width: 110px;
}
@media only screen and (min-width: 768px) {
  #contact .container .section-title-container {
    width: 220px;
  }
}
#contact .container .section-title-container .section-title-background {
  left: 10px;
  width: 100px;
  background-color: #001423;
}
@media only screen and (min-width: 768px) {
  #contact .container .section-title-container .section-title-background {
    left: 20px;
    width: 200px;
  }
}
#contact .container .section-title-container .section-title {
  color: #CCC;
}
#contact .container form {
  display: grid;
  grid-gap: 10px;
  grid-auto-columns: 245px;
  justify-content: center;
}
#contact .container form input {
  height: 30px;
  padding: 10px;
  border-radius: 0;
  font-family: "Roboto";
  font-size: 16px;
}
@media only screen and (min-width: 768px) {
  #contact .container form input[name=emailAddress] {
    grid-column: 2;
  }
  #contact .container form input[name=subject] {
    grid-column: 1/3;
  }
}
#contact .container form textarea {
  grid-row-end: span 15;
  padding: 10px;
  border-radius: 0;
  overflow-y: scroll;
  resize: none;
  font-family: "Roboto";
  font-size: 16px;
}
@media only screen and (min-width: 768px) {
  #contact .container form textarea {
    grid-column: 1/3;
  }
}
@media only screen and (min-width: 768px) {
  #contact .container form button {
    grid-column: 2;
  }
}

footer {
  background-color: #000;
  text-align: center;
}
footer div {
  display: flex;
  justify-content: center;
}
footer div a {
  display: block;
  margin: 50px 10px;
  font-size: 0;
}
footer div a:nth-of-type(1) {
  background: url("/images/icon_instagram.svg") no-repeat;
}
footer div a:nth-of-type(2) {
  background: url("/images/icon_github.svg") no-repeat;
}
footer > a {
  display: inline-block;
  margin-bottom: 50px;
}

.icon-social {
  width: 32px;
  height: 32px;
}

.text-dark {
  color: #777;
}

.highlight {
  border-bottom: 3px solid #CCC;
}

button {
  height: 50px;
  background-color: #FFF;
  font-family: "Roboto";
  font-size: 16px;
}
button:hover {
  cursor: pointer;
}

/*# sourceMappingURL=style.css.map */
