@import url("https://fonts.googleapis.com/css?family=Josefin+Sans:100,700|Montserrat:400,700|Roboto:100,300,400,700");
* {
  box-sizing: border-box;
  padding: 0;
  border: 0;
  margin: 0;
}

body {
  font-family: "Roboto";
  font-size: 16px;
}

a {
  transition: 0.2s;
}

.container {
  padding: 100px 20px;
  margin: 0 auto;
}
@media (min-width: 1200px) {
  .container {
    padding: 100px 0;
  }
}

header {
  position: fixed;
  z-index: 1;
  width: 100%;
  background-color: #000;
}
header nav {
  display: flex;
  max-width: 1180px;
  height: 50px;
  line-height: 50px;
  margin: 0 auto;
}
@media (min-width: 768px) {
  header nav {
    justify-content: center;
  }
}
@media (min-width: 1200px) {
  header nav {
    justify-content: normal;
  }
}
header nav #collapsible-menu-button {
  width: 20px;
  height: 15px;
  margin: auto 20px;
  background-image: url("/images/icon_collapsible-menu.svg");
}
@media (min-width: 768px) {
  header nav #collapsible-menu-button {
    display: none;
  }
}
header nav div:nth-of-type(2) {
  display: none;
}
@media (min-width: 768px) {
  header nav div:nth-of-type(2) {
    display: block;
    width: 32px;
    height: 32px;
    margin: auto 20px auto 0;
    background-image: url("/images/logo.png");
  }
}
header nav ul {
  display: none;
  list-style-type: none;
}
@media (min-width: 768px) {
  header nav ul {
    display: flex;
  }
}
header nav ul li {
  margin: 0 20px;
  font-family: "Montserrat";
  text-transform: uppercase;
}
header nav ul li a {
  color: #CCC;
  text-decoration: none;
}
header nav ul li a:visited {
  color: #CCC;
}
header nav ul li a:hover {
  color: #FFF;
}

#inicio {
  height: 700px;
  background: url("/images/mountains_lowpoly.png") no-repeat center bottom, url("/images/binarycode_black.svg") center top, linear-gradient(#000, #001423);
  background-size: auto, 1000px, cover;
}
@media (min-width: 768px) {
  #inicio {
    height: 1000px;
  }
}
@media (min-width: 1200px) {
  #inicio {
    height: 900px;
  }
}
#inicio div {
  padding-top: 180px;
  text-align: center;
  color: #CCC;
}
@media (min-width: 768px) {
  #inicio div {
    padding-top: 300px;
  }
}
@media (min-width: 1200px) {
  #inicio div {
    padding-top: 250px;
  }
}
#inicio div h1 {
  padding-left: 10px;
  font-family: "Josefin Sans";
  font-size: 24px;
  font-weight: 700;
  letter-spacing: 9.6px;
  text-transform: uppercase;
}
@media (min-width: 768px) {
  #inicio div h1 {
    font-size: 48px;
    letter-spacing: 19.2px;
  }
}
#inicio div h1 span {
  font-weight: 100;
}
#inicio div p {
  font-weight: 100;
  text-transform: lowercase;
}
@media (min-width: 768px) {
  #inicio div p {
    font-size: 28px;
  }
}

#sobre {
  background-color: #000;
  color: #CCC;
}
#sobre .container {
  margin: 0 auto;
}
@media (min-width: 1200px) {
  #sobre .container {
    display: flex;
    max-width: 1180px;
  }
}
#sobre .container #picture-container {
  position: relative;
  width: 280px;
  height: 485px;
  margin: 0 auto 50px;
}
@media (min-width: 1200px) {
  #sobre .container #picture-container {
    margin: 0 0;
  }
}
#sobre .container #picture-container #picture-background {
  position: absolute;
  top: 135px;
  left: 110px;
  width: 170px;
  height: 350px;
  background-color: #CCC;
}
#sobre .container #picture-container #picture {
  position: absolute;
  width: 260px;
  height: 430px;
  background: url("/images/hudsonlessa_lowpoly.png") no-repeat;
  background-size: contain;
}
#sobre .container #about-wrapper {
  max-width: 500px;
  margin: 0 auto;
}
@media (min-width: 1200px) {
  #sobre .container #about-wrapper {
    max-width: 880px;
    margin: 0 0;
    margin-top: 132px;
    margin-left: 20px;
  }
}
#sobre .container #about-wrapper p {
  margin-bottom: 20px;
  line-height: 24px;
}
#sobre .container #about-wrapper p:first-of-type {
  margin-bottom: 50px;
}
#sobre .container #about-wrapper p:last-of-type {
  margin-bottom: 0;
}

#services-portfolio-container {
  background: url("/images/binarycode_white.svg") center top, linear-gradient(#CCC, #FFF);
  background-size: 1000px, cover;
}

#servicos {
  color: #001423;
}
#servicos .container {
  margin: 0 auto;
}
@media (min-width: 1200px) {
  #servicos .container {
    max-width: 1180px;
  }
}
#servicos .container .section-title-container {
  width: 275px;
}
@media (min-width: 768px) {
  #servicos .container .section-title-container {
    width: 555px;
  }
}
#servicos .container .section-title-container .section-title-background {
  left: 10px;
  width: 265px;
  background-color: #FFF;
}
@media (min-width: 768px) {
  #servicos .container .section-title-container .section-title-background {
    left: 20px;
    width: 535px;
  }
}
#servicos .container ul {
  list-style-type: none;
}
@media (min-width: 1200px) {
  #servicos .container ul {
    display: grid;
    grid-template-columns: 33.33% 33.33% 33.33%;
  }
}
#servicos .container ul .service {
  margin-bottom: 100px;
  text-align: center;
}
#servicos .container ul .service:last-of-type {
  margin-bottom: 0;
}
#servicos .container ul .service:nth-of-type(1) .icon-service {
  background: url("/images/icon_webpage.svg") no-repeat;
}
#servicos .container ul .service:nth-of-type(2) .icon-service {
  background: url("/images/icon_webpageandgear.svg") no-repeat;
}
#servicos .container ul .service:nth-of-type(3) .icon-service {
  background: url("/images/icon_smartphone.svg") no-repeat;
}
#servicos .container ul .service h1 {
  margin-bottom: 20px;
  font-size: 24px;
  font-weight: 400;
}
#servicos .container ul .service p {
  max-width: 500px;
  margin: 0 auto;
  line-height: 24px;
}
@media (min-width: 1200px) {
  #servicos .container ul .service p {
    padding: 0 20px;
  }
}

#portfolio {
  color: #001423;
}
@media (min-width: 1200px) {
  #portfolio .container {
    max-width: 1180px;
  }
}
#portfolio .container .section-title-container {
  width: 270px;
}
@media (min-width: 768px) {
  #portfolio .container .section-title-container {
    width: 540px;
  }
}
@media (min-width: 1200px) {
  #portfolio .container .section-title-container {
    left: 640px;
  }
}
#portfolio .container .section-title-container .section-title-background {
  width: 260px;
  background-color: #CCC;
}
@media (min-width: 768px) {
  #portfolio .container .section-title-container .section-title-background {
    width: 520px;
  }
}
#portfolio .container .section-title-container .section-title {
  left: 10px;
}
@media (min-width: 768px) {
  #portfolio .container .section-title-container .section-title {
    left: 20px;
  }
}
#portfolio .container #projects {
  display: grid;
  grid-auto-rows: 200px;
  grid-template-columns: repeat(auto-fit, minmax(100%, 1fr));
  list-style-type: none;
}
@media (min-width: 768px) {
  #portfolio .container #projects {
    grid-auto-rows: 250px;
    grid-template-columns: repeat(auto-fit, minmax(50%, 1fr));
  }
}
@media (min-width: 1200px) {
  #portfolio .container #projects {
    grid-auto-rows: 200px;
    grid-template-columns: repeat(auto-fit, minmax(33.33%, 1fr));
  }
}
#portfolio .container #projects .project {
  position: relative;
  border: 1px solid #001423;
  background-color: #CCC;
  text-align: center;
}
#portfolio .container #projects .project:nth-of-type(1)::after {
  background: url("/images/project_e-stop.jpg") no-repeat;
  background-size: cover;
}
#portfolio .container #projects .project:nth-of-type(2)::after {
  background: url("/images/project_sonar.jpg") no-repeat;
  background-size: cover;
}
#portfolio .container #projects .project:nth-of-type(3)::after {
  background: url("/images/project_acampebem.jpg") no-repeat;
  background-size: cover;
}
#portfolio .container #projects .project::after {
  content: "";
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  opacity: 1;
  transition: 0.2s;
}
#portfolio .container #projects .project:hover::after {
  opacity: 0.1;
}
#portfolio .container #projects .project .wrapper {
  padding: 30px;
}
#portfolio .container #projects .project .wrapper h1 {
  font-size: 18px;
}
#portfolio .container #projects .project .wrapper p:last-of-type {
  margin-top: 20px;
  font-weight: 700;
}

.section-title-container {
  position: relative;
  height: 40px;
  margin: 0 auto 50px;
}
@media (min-width: 768px) {
  .section-title-container {
    height: 80px;
  }
}
@media (min-width: 1200px) {
  .section-title-container {
    margin: 0 0 100px 0;
  }
}

.section-title-background {
  position: absolute;
  top: 15px;
  height: 25px;
}
@media (min-width: 768px) {
  .section-title-background {
    top: 30px;
    height: 50px;
  }
}

.section-title {
  position: absolute;
  font-family: "Montserrat";
  font-size: 24px;
  font-weight: 700;
}
@media (min-width: 768px) {
  .section-title {
    font-size: 48px;
  }
}

.icon-service {
  width: 96px;
  height: 96px;
  margin: 0 auto 20px;
}

#testimonials .container .section-title {
  position: static;
  width: 80px;
  height: 80px;
  margin: 0 auto 50px;
  background: url("/images/quotation-mark.svg") center no-repeat;
}
#testimonials .container div {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
#testimonials .container div .corp-logo {
  width: 250px;
  height: 75px;
  margin-bottom: 20px;
  background: url("/images/trip-zorro_logo.png") center no-repeat;
}
#testimonials .container div p {
  text-align: center;
  line-height: 24px;
  color: #001423;
}
#testimonials .container div p span {
  font-weight: 700;
}
#testimonials .container div p span a {
  color: inherit;
  transition: 0.2s;
}
#testimonials .container div p span a:visited {
  color: inherit;
}
#testimonials .container div p span a:hover {
  color: #000;
}

#contato {
  background: url("/images/binarycode_black.svg") center top, linear-gradient(#000, #001423);
  background-size: 1000px, cover;
  color: #CCC;
}
@media (min-width: 1200px) {
  #contato .container {
    max-width: 1180px;
  }
}
#contato .container .section-title-container {
  width: 110px;
}
@media (min-width: 768px) {
  #contato .container .section-title-container {
    width: 220px;
  }
}
#contato .container .section-title-container .section-title-background {
  left: 10px;
  width: 100px;
  background-color: #001423;
}
@media (min-width: 768px) {
  #contato .container .section-title-container .section-title-background {
    left: 20px;
    width: 200px;
  }
}
#contato .container .section-title-container .section-title {
  color: #CCC;
}
#contato .container form {
  display: grid;
  grid-gap: 10px;
  grid-auto-columns: 245px;
  justify-content: center;
}
#contato .container form input {
  height: 30px;
  padding: 10px;
  border-radius: 0;
  font-family: "Roboto";
  font-size: 16px;
}
@media (min-width: 768px) {
  #contato .container form input[name=emailAddress] {
    grid-column: 2;
  }
  #contato .container form input[name=subject] {
    grid-column: 1/3;
  }
}
#contato .container form textarea {
  grid-row-end: span 15;
  padding: 10px;
  border-radius: 0;
  overflow-y: scroll;
  resize: none;
  font-family: "Roboto";
  font-size: 16px;
}
@media (min-width: 768px) {
  #contato .container form textarea {
    grid-row: 3/span 15;
    grid-column: 1/3;
  }
}
#contato .container form button {
  background-color: #FFF;
}
@media (min-width: 768px) {
  #contato .container form button {
    grid-column: 2;
  }
}
#contato .container form button:hover {
  box-shadow: 0 0 1px #FFF;
}

footer {
  background-color: #000;
  text-align: center;
}
footer nav {
  position: fixed;
  top: 50px;
  left: -200px;
  width: 200px;
  height: 100%;
  background-color: #000;
  transition: 0.2s;
}
@media (min-width: 768px) {
  footer nav {
    display: none;
  }
}
footer nav ul {
  flex-direction: column;
}
footer nav ul li {
  margin: 20px;
  text-align: left;
}
footer nav ul li a {
  color: #CCC;
  text-decoration: none;
}
footer div {
  display: flex;
  justify-content: center;
}
footer div a {
  display: block;
  margin: 50px 10px;
  font-size: 0;
}
footer div a:nth-of-type(1) {
  background: url("/images/icon_instagram.svg") no-repeat;
}
footer div a:nth-of-type(2) {
  background: url("/images/icon_github.svg") no-repeat;
}
footer > a {
  display: inline-block;
  margin-bottom: 50px;
  color: #CCC;
}
footer > a:visited {
  color: #CCC;
}
footer > a:hover {
  color: #FFF;
}

.menu-active {
  left: 0;
}

.icon-social {
  width: 32px;
  height: 32px;
}

.text-dark {
  color: #777;
}

.highlight {
  border-bottom: 3px solid #CCC;
}

button {
  height: 50px;
  font-family: "Roboto";
  font-size: 16px;
  text-transform: uppercase;
  transition: 0.2s;
}
button:hover {
  cursor: pointer;
}

/*# sourceMappingURL=style.css.map */
